.idea/

venv/

dbdata/
djweather/media/**/*

*.pyc
*.sqlite3
.env.dev
.env.prod
.env.test
.env

node_modules/
djweather/static/js/vue-bundle/bundle.js
djweather/poetry.lock
djweather/pyproject.toml
djweather/celerybeat-schedule
